.links {
  display: flex;
  justify-content: space-between;
  max-width: 80vw;
  margin: 0 auto;
}

.link {
  height: 50px;
  flex-grow: 1;
  border: 1px solid black;
  text-align: center;
  line-height: 45px;
}
